{% extends 'base.html.twig' %}

{% block title %}Affichage des événements par catégories{% endblock %}

{% block body %}
<div class="wrapper">
    {% for event in catEvents %}
        <div class="card">
            {# <h3>{{event.date}}</h3> #}
            <h2>{{event.title}}</h2>
            <h4>{{event.place}}</h4>
            <img src="{{event.picture}}" alt="">
            <p>{{event.description}}</p>
            <p>{{catEvents.category}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}