{% extends 'base.html.twig' %}

{% block title %}Affichage des événements{% endblock %}

{% block body %}
{% for event in events %}
    <div class="wrapper">
        <div class="card">
            {# <h3>{{event.date}}</h3> #}
            <h2>{{event.title}}</h2>
            <p>{{event.place}}</p>
            <img src="{{event.picture}}" alt="">
            <p>{{event.description}}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}