<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <script src="{{asset('assets/js/master.js')}}" defer></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="{{path('app_home')}}">
                        <li>Home</li>
                    </a>
                    <a href="{{path('afficheEvents')}}">
                        <li>Afficher les événements</li>
                    </a>
                    <a href="{{path('ajoutEvent')}}">
                        <li>ajouter un événement</li>
                    </a>
                    
                    {%if app.user%}
                    <a href="{{path('app_logout')}}">
                        <li>se déconnecter</li>
                    </a>
                    {% else %}
                    <a href="{{path('app_user_registration')}}">
                        <li>s'enregistrer</li>
                    </a>
                    <a href="{{path('app_login')}}">
                        <li>se connecter</li>
                    </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('app_admin')}}">
                        <li>Administrateur</li>
                    </a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
